# Eclipse
.classpath
.project

# IDEA
.idea
*.iml
*.ipr
*.iws
.idea_modules/

# Gradle
out
test-output
atlassian-ide-plugin.xml
.gradletasknamecache

# CMake
cmake-build-debug/
cmake-build-release/

# Other
log
*.log