@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

button {
    border: none;
}

input {
    outline: none;
}

image {
    vertical-align: bottom;
}

ul,
ol {
    list-style: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/* 清除浮动一 */
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* 清除浮动二 */
.clearfloat:after {
    content: "";
    display: table;
    clear: both;
}

.clearfloat {
    *zoom: 1;
}